# Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://auth-db:5432/authdb
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=password
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# RabbitMQ Configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# JWT Configuration
JWT_SECRET=bezKoderSecretKey
JWT_EXPIRATION_MS=86400000

# PostgreSQL Database Configuration
POSTGRES_DB=authdb
POSTGRES_USER=user
POSTGRES_PASSWORD=password
